@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --main-color: #000000;
    --secondary-color-: #F6F6F6;
    --tertiary-color: #22D4FD;
    --hover-button-color: #272727;
    --hover-header-color: #383838;

    --main-font: 'Montserrat', sans-serif;
    --secondary-font: 'Krona One', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}


body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--main-color);
    color: var(--secondary-color-);
}

.cabecalho {
    padding: 2% 0 0 10%
}

.cabecalho__menu {
    display: flex; 
    gap: 80px;
}

.cabecalho__menu__link {
    text-decoration: none;
    color: var(--tertiary-color);
    font-family: var(--main-font);
    font-size: 1.5rem;
    font-weight: 600;
}

.cabecalho__menu__link:hover{
    color: var(--hover-header-color);
}

.titulo-personalizado {
    color:  var(--tertiary-color);
}

.conteudo {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteudo__texto {
    width: 50%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 82px
}

.conteudo__texto__titulo {
    font-size: 2.25rem;
    font-family: var(--secondary-font);
}
.conteudo__texto__paragrafo {
    font-size: 1.5rem;
    font-family: var(--main-font);
    font-weight: 400;
}

.conteudo__texto__subtitulo {
    font-size: 1.5rem;
    font-family: var(--secondary-font); 
}

.conteudo__texto__botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.conteudo__texto__botoes__botoes {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid  var(--tertiary-color);
    width: 50%;
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    color: var(--secondary-color-);
    font-family: var(--main-font);
    font-weight: 600;
}

.conteudo__texto__botoes__botoes:hover {
    background-color: var(--hover-button-color);
    width: 60%;
    padding-top: 17px;
    padding-bottom: 17px;
}

.conteudo__imagem {
    width: 50%;
}

.rodape {
    color: var(--main-color);
    background-color: var(--tertiary-color);
    padding: 24px;
    text-align: center;
    font-family: var(--main-font);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .conteudo {
        flex-direction: column-reverse;
        padding: 3%;
     }

     .conteudo__texto {
        width: auto;
     }
}